@import 'normalize';
@import 'skeleton';

$goschen-blue: #34495e;
$goschen-red: #e74c3c;
$goschen-bright: #f9f7f6;

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.header {
  background-attachment: scroll;
  background-color: $goschen-red;
  background-image: url('../img/scan4x4.png'), url('../img/bg.jpg');
  background-position: center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: $goschen-bright;
}

.body {
  background-color: $goschen-red;
  color: $goschen-blue;
}
