@import "_normalize";
@import "_skeleton";

$goschen_blue: #34495E;
$goschen_red: #E74C3C;
$goschen_bright: #F9F7F6;

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.header{
    background-image:  url("../img/scanlines.png"), url("../img/back.jpg");
    background-repeat: repeat;
    color: $goschen_blue;
}

.body{
  background-color: $goschen_blue;
  color: $goschen_bright;
}
